.btn {
    border-radius: 10px;
    border: 1px solid $accent-color;
    padding: 5px 11px;

    display: flex;
    align-items: center;
    gap: 15px;

    width: fit-content;

    &__icon {
        path {
            fill: $accent-color;
        }
    }

    &--orange {
        border-color: $orange;

        .btn__icon path {
            fill: $orange;
        }
    }

    &--white {
        border-color: $white;

        .btn__icon path {
            fill: $white;
        }
    }

    &--white-reverse {
        border-color: $black;
        background-color: $white;
        color: $text-second-color !important;

        .btn__icon path {
            fill: $black;
        }
    }

    &--black {
        color: $text-color;
        background-color: $black;
        border-color: $black;

        .btn__icon path {
            fill: $black;
        }
    }

    &--blue {
        border-color: $blue;

        .btn__icon path {
            fill: $blue;
        }
    }

    &--purple {
        border-color: $purple;

        .btn__icon path {
            fill: $purple;
        }
    }

    &--wide {
        padding-inline: $grid-gap;
    }
}