.btn {
    border-radius: 10px;
    border: 1px solid $accent-color;
    padding: 5px 11px;

    display: flex;
    align-items: center;
    gap: 15px;

    width: fit-content;

    &__icon {
        path {
            fill: $accent-color;
        }
    }

    &--orange {
        border-color: $accent-second-color;

        .btn__icon path {
            fill: $accent-second-color;
        }
    }

    &--white {
        border-color: $text-color;

        .btn__icon path {
            fill: $text-color;
        }
    }

    &--black {
        color: $text-color;
        background-color: $text-second-color;
        border-color: $text-second-color;

        .btn__icon path {
            fill: $text-second-color;
        }
    }

    &--blue {
        border-color: #5270a6;

        .btn__icon path {
            fill: #5270a6;
        }
    }

    &--purple {
        border-color: #6a538e;

        .btn__icon path {
            fill: #6a538e;
        }
    }

    &--wide {
        padding-inline: $grid-gap;
    }
}