.line {
    background-color: $gray;

    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;

    &--full {
        width: 100dvw;
        left: calc((100dvw - $container-width) / -2);

        @media screen and (max-width: $container-width) {
            left: 0;
        }
    }
}