.about {

    .container {
        display: flex;
        align-items: stretch;
        gap: $grid-gap * 4;

        &>* {

            &:first-of-type {
                max-width: 49%;

                @media screen and (max-width: 768px) {
                    max-width: none;
                }
            }

            &:last-of-type {
                flex-grow: 1;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: $grid-gap * 2;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $grid-gap * 2;
    }

    &__arrow-icon {
        width: 122px;

        animation: scale-min 2s ease-in-out 0s infinite alternate;

        path {
            stroke: $accent-second-color;
        }
    }

    &__description {
        position: relative;

        &::before,
        &::after {
            content: '';

            border: 1px solid $text-color;
            border-radius: 32px;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: $background-color;

            transition: transform 800ms ease-in-out;
        }

        &::before {
            z-index: 2;
        }

        &.show::before,
        &.show::after {
            animation: border-movement 2.3s ease-in-out 0s infinite alternate;
        }

        &.show::before {
            transform: translate($frames-step, $frames-step);
            z-index: 2;
        }

        &.show::after {
            transform: translate(calc($frames-step * 2), calc($frames-step * 2));
        }
    }

    &__frame {
        padding: clamp(25px, 50 / 1920 * 100dvw, 50px);

        background-color: $background-color;
        border: 1px solid $text-color;
        border-radius: 32px;

        display: flex;
        flex-direction: column;
        gap: $grid-gap;
        flex-wrap: wrap;

        position: relative;
        z-index: 3;
    }

    &__star-icon {
        width: 51px;

        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__title {
        text-align: left;
    }

    .statistic {
        position: relative;

        display: flex;
        justify-content: end;
        align-items: end;

        &__circles {
            position: absolute;
            top: 0;
            left: 0;

            width: 274 / 477 * 100%;

            animation: circles-movement 12s ease-in-out 0s infinite;

            path {
                stroke: $accent-second-color;
                fill: $background-color;
            }
        }

        &__data {
            position: relative;
            z-index: 2;

            display: grid;
            grid-template-columns: max-content 43%;
            grid-auto-rows: max-content;

            row-gap: clamp(24px, 5vh, 60px);
            column-gap: clamp(20px, 5vw, 45px);

            align-items: center;
            justify-content: end;
        }

        &__count {
            font-size: adaptive-font-size(42px, 30px);
            font-weight: 100;

            background-color: $text-color;
            color: $text-second-color;

            border-radius: 10px;

            padding: 7px 5px 0;
        }
    }
}