.blog {
    overflow-x: hidden;

    .container {
        position: relative;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $grid-gap;

        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
            gap: $grid-gap * 2;
            max-width: 540px;
            margin: 0 auto;
        }
    }

    .card {
        display: flex;
        flex-direction: column;

        background-color: $card-background-color;
        color: $text-second-color;

        border-radius: 24px;
        border: 2px solid $text-color;

        overflow: hidden;

        &__photo {
            width: 100%;
            height: 50%;
            object-fit: cover;

            @media screen and (max-width: 960px) {
                height: auto;
                max-height: 75%;
            }
        }

        &__content {
            padding: 20px $grid-gap;
        }

        &__title {
            font-size: $font-size-medium;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.38rem;

            margin-top: 8px;
        }

    }

    &__btn-all-articles {
        margin: $grid-gap * 3 auto 0;
    }


    .decorations {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        display: flex;
        justify-content: space-between;

        &__star {
            width: 92px;
            height: 92px;

            align-self: flex-end;

            position: relative;
            transform: translate(-60%, -50%);
        }

        &__big-star {
            width: 230px;
            height: 231px;

            position: relative;
            top: 2%;
            transform: translate(60%, -5%);
        }

        &__star,
        &__big-star {
            animation: scale-min 3s ease-in-out infinite alternate;

            @media screen and (max-width: 960px) {
                transform: translateX(0) translateY(0);
            }

            path {
                stroke: $accent-color;
                fill: $background-color;
            }
        }
    }
}