.courses {
    min-height: 80dvh;

    .container {
        display: flex;
        flex-direction: column;
        gap: $grid-gap * 3;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__card {
        width: calc((100% - $grid-gap * 2) / 3);
        
        @media screen and (max-width: 1024px) {
            width: calc((100% - $grid-gap) / 2);
            margin-top: $grid-gap;
        }
        
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 400px;
            margin-inline: auto;
        }
    }
}
