.header {
    width: 100%;
    height: 100dvh;

    .container {
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .title {
        font-size: adaptive-font-size($font-size-header, $font-size-header-mobile);

        font-weight: 100;

        display: flex;
        flex-direction: column;
        gap: 10px;
        
        
        &__row {
            text-align: justify;

            width: 100%;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__icon {
            width: 242 / strip-unit($container-width) * 100dvw;
            max-width: 242px;
        }
    }


    &__btn {
        padding: 8px 40px;
    }
}