.header {
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 1000;

    padding-block: 16px;

    background-color: $background-color;
    white-space: nowrap;

    transition: transform 300ms ease-in;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__courses-btn {
        @extend %hover-scale;
    }

    &__logo {
        width: 119px;
    }

    .nav {
        display: flex;
        gap: $grid-gap;

        &__button {
            display: inline-block;
            transition: color 300ms ease-in-out;

            &:hover {
                color: $accent-color;
            }
        }
    }

    &__close-btn {
        display: none;

        position: absolute;
        top: 20px;
        right: 20px;

        width: 40px;
        height: 40px;

        &::before,
        &::after {
            content: '';

            background-color: $background-second-color;

            height: 2px;
            width: 35px;

            position: absolute;
            top: 50%;
            left: 50%;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

    }

    @media screen and (max-width: 768px) {
        transform: translateX(100%);

        width: 100dvw;
        height: 100dvh;

        &.show {
            transform: translateX(0);
        }

        .container {
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: $grid-gap * 1.5;

            padding-inline-start: 180 / 768 * 100dvw;
        }

        .nav {
            flex-direction: column;
            gap: $grid-gap * 1.5;
        }

        &__close-btn {
            display: block;
        }
    }
}