.nav {
    position: fixed;
    top: 0;
    inset-inline: 0;

    padding-block: 16px;

    background-color: $background-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 119px;
    }

    &__buttons {
        display: flex;
        gap: $grid-gap;
    }
}