.welcome {
    width: 100%;
    height: 100dvh;

    overflow-x: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        position: relative;
        z-index: 2;
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: $grid-gap / 2;

        width: fit-content;

        &__row {
            text-align: justify;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $grid-gap;
        }

        &__icon {
            flex-grow: 1;

            path {
                fill: $accent-color;
            }
        }
    }


    &__btn {
        padding: 8px 40px;

        white-space: nowrap;
    }

    .decorations {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @media screen and (max-width: 768px) {
            top: auto;
            bottom: 0;

            transform: translateY(20%);
        }

        .decorations__welcome-figure {
            transform: translateX(20%);

            &.play {
                path {
                    animation-name: welcome-figure-motion;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: both;

                    @for $i from 1 through 17 {
                        &:nth-child(#{$i}) {
                            animation-duration: calc(3s - $i * 0.1s);
                            animation-delay: $i * 0.1s;
                        }
                    }
                }
            }

            @media screen and (max-width: 768px) {
                transform: translateX(0);
            }

            path {
                stroke: $accent-color;
                transform: scale(.6);
            }
        }
    }
}