// Анимация обводки
@keyframes border-movement {

    70%,
    100% {
        transform: translate(0, 0);
    }
}

// Анимация кругов
@keyframes circles-movement {

    0%,
    100% {
        top: 0;
        left: 0;
        transform: translateX(0) translateY(0);
    }

    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%) translateY(0);
    }

    50% {
        top: 100%;
        left: 0;
        transform: translateX(0) translateY(-100%);
    }

    75% {
        top: 100%;
        left: 100%;
        transform: translateX(-100%) translateY(-100%);
    }
}

// Анимация увеличения
@keyframes scale-min {
    to {
        scale: 1.1;
    }
}

// Анимация уменьшения
@keyframes scale-max {
    to {
        scale: 0.9;
    }
}

// Анимация loader
@keyframes loader {
    to {
        rotate: -360deg;
    }
}