body {
    background-color: $background-color;
    color: $text-color;

    font-family: $font-main;
    font-size: $font-size-base;
    font-weight: 400;
}

h1 {
    font-size: adaptive-font-size($font-size-header, $font-size-header-mobile);
    
    font-weight: 100;
}

.container {
    max-width: 1230px;
    padding-inline: 30px;
    margin-inline: auto;
    
    width: 100%;
    height: 100%;
}

.section-title {
    font-size: adaptive-font-size($font-size-big, $font-size-big-mobile);
    font-weight: 200;

    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.bold {
    font-weight: 500;
}