body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-main;
    font-size: $font-size-base;
}

h1 {
    font-size: adaptive-font-size($font-size-header, $font-size-header-mobile);
    
    font-weight: 100;
}

.container {
    max-width: 1230px;
    padding-inline: 30px;
    margin-inline: auto;

    width: 100%;
    height: 100%;
}

.section-title {
    font-size: $font-size-big;
    font-weight: 200;
}