// Screen size
$max-screen-width: 1920;
$min-screen-width: 280;

// Grid size
$container-width: 1230px;
$grid-gap: 30px;

// Colors
$text-color: #f8f4f4;
$text-second-color: #141414;

$background-color: #141414;

$accent-color: #e6fd59;
$accent-second-color: #ff6b18;

$button-color: #141414;
$button-second-color: #f8f4f4;

$card-background-color: #efe9e9;

// Fonts
$font-main: 'Megafont', Arial, sans-serif;

// Fonts size
$font-size-base: 18px;
$font-size-small: 14px;
$font-size-medium: 24px;
$font-size-big: 48px;
$font-size-header: 52px;

// Mobile font size
// $font-size-base-mobile: 18px;
// $font-size-small-mobile: 14px;
// $font-size-medium-mobile: 24px;
$font-size-big-mobile: 20px;
$font-size-header-mobile: 21px;