// Screen size
$max-screen-width: 1920;
$min-screen-width: 280;

// Grid size
$container-width: 1230px;
$grid-gap: 30px;

// Colors
$white: #f8f4f4;
$black: #141414;
$gray: #6f6f6fa2;

$yellow: #e6fd59;
$orange: #ff6b18;
$pink: #efe9e9;

$text-color: $white;
$text-second-color: $black;

$background-color: $black;
$background-second-color: $white;

$accent-color: $yellow;
$accent-second-color: $orange;

$button-color: $black;
$button-second-color: $white;

$card-background-color: $pink;

// Fonts
$font-main: 'Megafont', Arial, sans-serif;

// Fonts size
$font-size-base: 18px;
$font-size-small: 14px;
$font-size-medium: 24px;
$font-size-big: 48px;
$font-size-header: 52px;

// Mobile font size
// $font-size-base-mobile: 18px;
// $font-size-small-mobile: 14px;
// $font-size-medium-mobile: 24px;
$font-size-big-mobile: 20px;
$font-size-header-mobile: 21px;

// Frames
$frames-step: clamp(7px, 25 / 1920 * 100dvw, 25px);

// Loader
$loader-size: 175px;
$loader-width: 10px;
$loader-color: #e7fd5840;
$loader-color-second: $accent-color;
$loader-duration: 1s;