// Utils
@import "./utils/functions";
@import "./utils/extends";
@import "./utils/mixins";

// Base
@import "./base/reset";
@import "./base/fonts";
@import "./base/vars";
@import "./base/base";

// Components
@import "./components/btn";
@import "./components/course-card";
@import "./components/open-nav-btn.scss";

// Section
@import "./sections/nav";
@import "./sections/header";
@import "./sections/courses";
@import "./sections/about";
@import "./sections/creators";
@import "./sections/works";
@import "./sections/blog";
@import "./sections/shop";
@import "./sections/footer";